.label {
	-fx-padding: 10.0px;
    -fx-min-width: 200.0;
  	-fx-alignment: center;
  	-fx-background-color: lightgray; 
}

#controlArea {
    -fx-spacing: 15.0px;
    -fx-padding: 10px;
    -fx-border-color: black;
    -fx-border-width: 2.0px;
    -fx-background-color: lightgray;
    -fx-min-height: 60;
    -fx-min-width: 1200;
    
}

#playerArea {
	-fx-spacing: 50.0px;
	-fx-min-height: 300;
	-fx-min-width: 600;
	-fx-background-image: url(file:///C:/Users/OCWS008/git/PokerMiniProject_David_Maurer_Schuerch/src/poker/images/struktur.jpg);
}

.player {
	-fx-padding: 5.0px;
    -fx-border-color: black;
    -fx-border-width: 2.0px;
    -fx-alignment: center;
}

.card {
  -fx-font-size: 18px;
	-fx-padding: 2.0px;
    -fx-border-color: black;
    -fx-border-width: 1.0px;
	-fx-background-image: url(file:///C:/Users/OCWS008/git/PokerMiniProject_David_Maurer_Schuerch/src/poker/images/back.png);
    -fx-min-width: 50;
    -fx-pref-width: 111;
    -fx-max-width: 500;
    -fx-min-height: 80;
    -fx-pref-height: 162;
    -fx-max-height: 800;
    -fx-alignment: center;
    -fx-hgap: 5.0px;
}